@using Project.Data
@inject LanguageService Lang
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Project.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body @key="Lang.CurrentLanguage" dir="@Lang.CurrentDirection">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

<style>
    body[dir="rtl"] {
    direction: rtl;
    text-align: right;
    }

    body[dir="ltr"] {
    direction: ltr;
    text-align: left;
    }

    body[dir="rtl"] .topbar {
    direction: rtl;
    }

    body[dir="rtl"] .search {
    margin-right: auto;
    margin-left: 0;
    }

    body[dir="ltr"] .search {
    margin-left: auto;
    }

    body[dir="rtl"] .search-dropdown {
    right: 0;
    left: auto;
    }

    body[dir="rtl"] {
    text-align: right;
    }

    body[dir="ltr"] {
    text-align: left;
    }

    body[dir="rtl"] .sign {
    flex-direction: row-reverse;
    }

    body[dir="rtl"] input {
    text-align: right;
    }

    body[dir="rtl"] .search-dropdown {
    right: 0;
    left: auto;
    }

    body[dir="rtl"] .lang-menu {
    right: auto;
    left: 0;
    }
</style>

</html>
