@using Project.Data
@inject UserService UserService
@inject LanguageService Lang
@rendermode InteractiveServer

<div class="menu">
    <div class="menu-container">

        <div class="menu-item">
            <a href="/"> @Lang.T("Home") </a>
        </div>

        <div class="menu-item">
            <a href="/players"> @Lang.T("Players") </a>
        </div>

        <div class="menu-item">
            <a href="/teams"> @Lang.T("Teams") </a>
        </div>

        <div class="menu-item">
            <a href="/build"> Build a Team </a>
        </div>


        <div class="menu-item">
            <a href="/profile/@Id"> @Lang.T("Favorites") </a>
        </div>
        
    </div>
</div>

@code {
    private int Id;

    protected override void OnInitialized()
    {
        if (UserService.CurrentUser != null && UserService.CurrentUser.Count > 0)
            Id = UserService.CurrentUser[0].Id;
    }
}
<style>
    .menu {
        padding: 0;
        margin: 0 auto;
        background-color: #e9ecef;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    .menu-container {
        display: flex;
        /* horizontal layout */
        gap: 10px;
        /* space between boxes */
        justify-content: center;
        /* center menu items */
        padding: 5px 0;
        /* vertical padding */
    }

    .menu-item {
        border: 1px solid black;
        /* box border */
        border-radius: 4px;
        background-color: #fff;
        padding: 5px 10px;
        text-align: center;
        display: flex;
        /* makes the fill the box */
        align-items: center;
        justify-content: center;
    }

    .menu-item a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        display: block;
        /* fill the .menu-item box */
        width: 100%;
    }

    .menu-item:hover {
        background-color: #d0d0d0;
        cursor: pointer;
    }
</style>